.mainNavbar{
    /* position: absolute; */
    /* margin: 100px; */
    margin-bottom:200px ;
    background-color:transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .mainNavbar {
     margin-bottom: 180px;
    }
  }
  .Tabs{
      /* background-color: red; */
      padding: 10px;
    
     
  }
.Tabs li{
    display: inline;
/* background-color: green; */
padding: 10px 20px;
list-style-type: none;


  }
.ChildLi{
 color: white;
 font-weight: 600;
 text-decoration: none;
 padding-bottom: 3px;
  }
  .ChildLi:hover{
      color: red;
      border-bottom: 2px solid white;
      padding-bottom: 3px;
  }
  #ActiceTab{
    color: red;
    
  }
  .DropDowns{
      position: absolute;
      display: none;
      margin-left: 350px;
      padding: 30px;
      text-align: left;
      /* top: 30px; */
      
      
  }
  .DropDowns>li{
      display: block;
  }

  .hiding:hover .DropDowns{
      display: block;
  }